@model OnlineNews.Models.FrontPageViewModel


@{
    ViewData["Title"] = "Home page";
}

<br />
<h3 class="row" style="border-bottom: 2px solid black;"><b>Latest News</b></h3>
<div class="row justify-content-center allfont">
    <div class="col-lg-3 col-md-3 col-sm-12">
        @foreach (var item in Model.SomeLatestNews.Skip(1).Take(3))
        {
            <partial name="_EditorsPartial" model="@item" />
            @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
            {
                <a asp-action="Edit" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" /></svg></a>
                <a asp-action="GetAllArticles" asp-controller="Editor" asp-route-id="@item.Id"></a>
                <a asp-action="Delete" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg></a>
            }
            @if (User.IsInRole("Writer"))
            {
                <a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="EditAsWriter" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M80 0v-160h800V0H80Zm160-320h56l312-311-29-29-28-28-311 312v56Zm-80 80v-170l448-447q11-11 25.5-17t30.5-6q16 0 31 6t27 18l55 56q12 11 17.5 26t5.5 31q0 15-5.5 29.5T777-687L330-240H160Zm560-504-56-56 56 56ZM608-631l-29-29-28-28 57 57Z" /></svg></a>
            }
            <hr />
        }
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        @foreach (var item in Model.OneLatestNews)
        {
            <partial name="_ArticlePartial" model="@item" />
            @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
            {
                <a asp-action="Edit" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" /></svg></a>
                <a asp-action="Delete" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg></a>
            }
            @if (User.IsInRole("Writer"))
            {
                <a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="EditAsWriter" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M80 0v-160h800V0H80Zm160-320h56l312-311-29-29-28-28-311 312v56Zm-80 80v-170l448-447q11-11 25.5-17t30.5-6q16 0 31 6t27 18l55 56q12 11 17.5 26t5.5 31q0 15-5.5 29.5T777-687L330-240H160Zm560-504-56-56 56 56ZM608-631l-29-29-28-28 57 57Z"/></svg></a>
            }
            <br />
            <hr />
        }
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        @foreach (var item in Model.SomeLatestNews.Skip(4).Take(4))
        {
            <partial name="_linkTextPartial" model="@item" />
            @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
            {
                <a asp-action="Edit" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" /></svg></a>
                <a asp-action="Delete" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg></a>
            }
            @if (User.IsInRole("Writer"))
            {
                <a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="EditAsWriter" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M80 0v-160h800V0H80Zm160-320h56l312-311-29-29-28-28-311 312v56Zm-80 80v-170l448-447q11-11 25.5-17t30.5-6q16 0 31 6t27 18l55 56q12 11 17.5 26t5.5 31q0 15-5.5 29.5T777-687L330-240H160Zm560-504-56-56 56 56ZM608-631l-29-29-28-28 57 57Z" /></svg></a>
            }
            <hr />
        }
        <div class="row electricity">
            @await Component.InvokeAsync("ElectricityPrices")
        </div>
       
    </div>
</div>
<div class="row justify-content-center allfont mt-0">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row justify-content-center">
            @foreach (var item in Model.SomeLatestNews.Skip(8))
            {
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <partial name="_EditorsPartial" model="@item" />

                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        <a asp-action="Edit" asp-controller="Article" asp-route-id="@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5">
                                <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
                            </svg>
                        </a>
                        <a asp-action="Delete" asp-controller="Article" asp-route-id="@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>
                        </a>
                    }
                    @if (User.IsInRole("Writer"))
                    {
                        <a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="EditAsWriter" asp-route-id="@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5">
                                <path d="M80 0v-160h800V0H80Zm160-320h56l312-311-29-29-28-28-311 312v56Zm-80 80v-170l448-447q11-11 25.5-17t30.5-6q16 0 31 6t27 18l55 56q12 11 17.5 26t5.5 31q0 15-5.5 29.5T777-687L330-240H160Zm560-504-56-56 56 56ZM608-631l-29-29-28-28 57 57Z" />
                            </svg>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="row borderbar"></div>
<div class="card mt-2 mb-2 text-center border-white">
    <div class="row">
        <div class="row">
            <a href="https://www.adobe.com/se/products/photoshop.html?sdid=SPVLM3PR&mv=display&mv2=display&gclid=EAIaIQobChMIit-R2obkiwMV-hmiAx1_lzStEAEYASAAEgLY__D_BwE" target="_blank" class="text-white  mx-2" aria-label="Advertisement">
                <img src="https://cdn.flashtalking.com/189813/4961332/FY24Q4_CC_Photography_Photoshop_SE_SV_MaxOct2024-DistractionRemoval_ST_728x90_DistractionRemoval_Release-Ps-MAXOct.jpg?472163644" style="width:auto;" class="img-fluid" />
            </a>
        </div>
    </div>
</div>
<div class="row borderbar"></div>
<div class="row justify-content-center allfont">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <br />
        <br />
        <h4 class="row" style="border-bottom: 2px solid black;"><b>Most Popular</b></h4>
        <br />
        <br />
        <div class="row justify-content-center text-center">
            @foreach (var item in Model.Mostpopular)
            {
                <div class="col-12 col-md-4 mb-3">
                    <partial name="_linkTextPartial" model="@item" />
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        <a asp-action="Edit" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" /></svg></a>
                        <a asp-action="GetAllArticles" asp-controller="Editor" asp-route-id="@item.Id"></a>
                        <a asp-action="Delete" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg></a>
                    }
                    @if (User.IsInRole("Writer"))
                    {
                        <a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="EditAsWriter" asp-route-id="@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5">
                                <path d="M80 0v-160h800V0H80Zm160-320h56l312-311-29-29-28-28-311 312v56Zm-80 80v-170l448-447q11-11 25.5-17t30.5-6q16 0 31 6t27 18l55 56q12 11 17.5 26t5.5 31q0 15-5.5 29.5T777-687L330-240H160Zm560-504-56-56 56 56ZM608-631l-29-29-28-28 57 57Z" />
                            </svg>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="row borderbar"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-12 card mt-1 mb-2 text-center border-white bg-light">
    <div class="row">
        <div class="row">
            <a href="https://se.cec.com/inbyte?gad_source=5&gclid=EAIaIQobChMI7YTrvoHViwMVEV0eAh0-nD0wEAEYASAAEgKF-vD_BwE" target="_blank" class="text-white  mx-2" aria-label="Advertisement">
                <img class="img-fluid" src="https://tpc.googlesyndication.com/simgad/16690010714385765024?sqp=4sqPyQQrQikqJwhfEAEdAAC0QiABKAEwCTgDQPCTCUgAUAFYAWBfcAJ4AcUBLbKdPg&rs=AOga4qlUYEOEG3j53WZzb07D7fp1nYf5BQ" style="width:auto;height:max-content" />
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row justify-content-center allfont">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <br />
        <br />
        <h4 class="row" style="border-bottom: 2px solid black;"><b>Editor's Choice</b></h4>
        <br />
        <br />
        <div class="row justify-content-center text-center">
            @foreach (var item in Model.EditorsChoiceArticles)
            {
                <div class="col-12 col-md-4 mb-3">
                    <partial name="_EditorsPartial" model="@item" />
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        <a asp-action="Edit" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" /></svg></a>
                        <a asp-action="GetAllArticles" asp-controller="Editor" asp-route-id="@item.Id"></a>
                        <a asp-action="Delete" asp-controller="Article" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5D0E07"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg></a>
                    }
                    @if (User.IsInRole("Writer"))
                    {
                        <a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="EditAsWriter" asp-route-id="@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5">
                                <path d="M80 0v-160h800V0H80Zm160-320h56l312-311-29-29-28-28-311 312v56Zm-80 80v-170l448-447q11-11 25.5-17t30.5-6q16 0 31 6t27 18l55 56q12 11 17.5 26t5.5 31q0 15-5.5 29.5T777-687L330-240H160Zm560-504-56-56 56 56ZM608-631l-29-29-28-28 57 57Z" />
                            </svg>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>
@* Cookie Consent Banner *@
@if (Context.Request.Cookies["CookieConsent"] == null)  // Cookie is not set yet
{
    <div class="cookie-banner">
        <p>We use cookies to improve your experience. By accepting cookies, you agree to our use of cookies.</p>
        <form method="post" action="@Url.Action("AcceptCookies", "Article")" style="display:inline;">
            <button type="submit">Accept</button>
        </form>
        <form method="post" action="@Url.Action("DeclineCookies", "Article")" style="display:inline;">
            <button type="submit" class="decline">Decline</button>
        </form>

        <!-- Optional close button -->
        <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
    </div>
}

<style>
   
    .cookie-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:blue;
        color: white;
        padding: 15px;
        text-align: center;
        font-size: 16px;
        z-index: 9999;
    }

        .cookie-banner p {
            margin: 0;
            padding: 0;
            display: inline-block;
            font-size: 14px;
        }

        .cookie-banner button {
            background-color:green;
            color: white;
            border: none;
            padding: 10px 15px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

            .cookie-banner button:hover {
                background-color: #45a049; /* Darker green on hover */
            }

            .cookie-banner button.decline {
                background-color:red;
                color:white;
            }

                .cookie-banner button.decline:hover {
                    background-color: #d32f2f; /* Darker red on hover */
                }

        .cookie-banner .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }


    .borderbar{
        border-bottom: 1px solid black;
    }

    .electricity{
        color:black;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color:white;
        text-align:center;    
    }

</style>
