@model OnlineNews.Models.Database.Article

<div class="card border-white mb-0 mt-0">

  <div class="row">
        <a asp-action="Details" asp-controller="Article" asp-route-id="@Model.Id"><img src="@Model.ImageLink" class="card-img-top" style="width:520px;height:310px" /></a>
        <div class="card-body">
            <a style="color:black;text-decoration-line: none" asp-action="Details" asp-controller="Article" asp-route-id="@Model.Id"><h2 class="card-title"><b>@Model.Headline</b></h2></a>
            <a style="color:black;text-decoration-line: none" asp-action="Details" asp-controller="Article" asp-route-id="@Model.Id"><p>@Model.ContentSummary</p></a>
        </div>
  </div>
</div>

